.datalist {
  margin-top: 10px;

  .add-input {
    vertical-align: bottom;
    margin: 10px 0;
  }

  .ant-btn {
    width: 100%;
  }

  ul {
    margin-top: 10px;
    padding: 0;

    li {
      position: relative;
      margin: 10px 0;
      padding: 5px 0 15px 5px;
      cursor: pointer;
      overflow: hidden;
      &:hover {
        background: #eee;
        .right {
          opacity: 1;
        }
      }

      .left {
        width: 100%;
        margin-top: 4px;
      }

      .right {
        position: absolute;
        right: 0;
        top: 20px;
        transition: opacity .5s linear;
        opacity: 0;
        margin-right: 5px;
      }
    }

    .clicked {
      h3 {
        font-weight: 600;
      }
      p {
        font-weight: 600;
      }
      background: #eee;
    }

    h3 {
      font-size: 15px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #49a9ee;
    }

    p {
      line-height: 15px;
      margin: 0;
    }
  }
  .delete-icon {
    color: #f5222d;
    font-size: 30px;
  }
}
