@import './common/style/variable.less';
@import './common/style/mixin.less';
@import './common/style/util.less';

body {
  font-family: "ProximaNova-Light", "Avenir Next", -apple-system-body, "Helvetica Neue", "Helvetica", sans-serif;
}

.ant-layout {
  &.ant-layout-has-sider {
    background: #fff;
  }
}

.ant-card-body {
  padding: 15px 24px;
}

.ant-layout-header {
  background: #fff;
}

.ant-card-head-title {
  padding: 10px 0;
}

.ant-layout-content {
  min-height: 80vh;
}

.ant-layout-footer {
  height: 10vh;
  line-height: 10vh;
  padding: 0;
  text-align: center;
  background-color: @bg-color;
  letter-spacing: 1px;
  a {
    color: #656565;
  }
}

.header {
  height: @header-height;
  border-bottom: 1px solid #f0f2f5;

  .title-con {
    & a {
      color: #000;
    }
    margin: 0px 0 0 18px;

    .title {
      display: inline-block;
      font-size: 1.5em;
      font-weight: 500;
      line-height: @header-height;
      height: @header-height;
      margin-left: 6px;
      color: rgba(0, 0, 0, .85);
    }

    img {
      width: 29.45px;
      height: 30px;
      position: relative;
      top: -5px;
    }

  }

  .nav {
    float: right;
    padding: 0;
    margin: 0;
    .portrait {
      display: none;
      .mask {
        display: inline-block;
        background: #f3f3f3;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-top: 20px;
        border-radius: 100%;
        overflow: hidden;
        text-align: center;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        width: 80%;
      }
    }
    li {
      line-height: @header-height;
      float: right;
      list-style: none;
      margin-left: 30px;
      a h3 {
        margin: 0;
      }
    }
  }
}

.main-content-mobile {
  padding-top: 30%;
  display: none;
  font-size: 20px;
  text-align: center;
  .info {
    font-size: 18px;
  }
  .link {
    margin-top: 10%;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .main-content {
    display: none;
  }

  .main-content-mobile {
    display: block;
  }
}
